name: Documentation

on:
  push:
    branches: [ master ]

jobs:
  doc:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - run: rustup toolchain install stable --no-self-update --profile minimal --target thumbv7em-none-eabihf
      name: Install toolchain

    - name: Generate docs
      run: cargo rustdoc --target thumbv7em-none-eabihf --no-default-features --features imxrt1062

    - name: Write redirect
      run: echo "<meta http-equiv=\"refresh\" content=\"0;url=imxrt_ral\">" > target/thumbv7em-none-eabihf/doc/index.html

    - name: Deploy to GitHub pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: target/thumbv7em-none-eabihf/doc
        publish_branch: gh-pages
