name: All Checks

on: [push, pull_request]

jobs:
  gen-ral:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install virtualenv
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install Python dependencies
        run: pip install -U -r requirements.txt
      - name: Generate RAL
        run: make ci
      - name: Ensure RAL is consistent with checked-in code
        run: git update-index --refresh && git diff-index --quiet HEAD
      - name: Check format for RAL
        run: cargo fmt --all -- --check

  build-ral-core:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build imxrt-ral for core features
      run: cargo build --verbose
    - name: Test imxrt-ral for core features
      run: cargo test --verbose --tests --lib

  # Ensure valid code for documentation generation
  check-ral-doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build imxrt-ral documentation
      run: cargo check --no-default-features --features doc --verbose

  build-ral:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature:
          # Individual chips
          - "imxrt1011"
          - "imxrt1015"
          - "imxrt1021"
          - "imxrt1051"
          - "imxrt1052"
          - "imxrt1061"
          - "imxrt1062"
          - "imxrt1064"
          # Chip + other features
          #
          # A chip that's combined into a chip family...
          - "imxrt1062,nosync"
          - "imxrt1062,rt"
          - "imxrt1062,rtic"
          - "imxrt1062,rt,rtic,nosync"
          # A chip that's not combined into a family...
          - "imxrt1021,nosync"
          - "imxrt1021,rt"
          - "imxrt1021,rtic"
          - "imxrt1021,rt,rtic,nosync"
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: thumbv7em-none-eabihf
        profile: minimal
    - name: Build for ${{ matrix.feature }} RAL
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --verbose --features ${{ matrix.feature }} --target thumbv7em-none-eabihf

  # Run documentation tests
  #
  # Doctests might not work for all features. For example,
  # documentation might assume that the "nosync" feature isn't enabled.
  doctest-ral:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature:
          - "imxrt1021"
          - "imxrt1062"
          - "imxrt1062,rt,rtic"
          - "imxrt1021,rt,rtic"
    steps:
    - uses: actions/checkout@v2
    - name: Run doctests for (${{ matrix.feature }}) RAL
      run: cargo test --doc --verbose --features ${{ matrix.feature }}

  # Run unit, integration tests
  test-ral:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature:
          - "imxrt1011"
          - "imxrt1021"
          - "imxrt1062"
          - "imxrt1062,nosync"
          - "imxrt1062,rt,rtic"
    steps:
    - uses: actions/checkout@v2
    - name: Run unit, integration tests for ${{ matrix.feature }}
      run: cargo test --tests --lib --verbose --features ${{ matrix.feature }}

  examples-teensy4:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv7em-none-eabihf
          override: true
          profile: minimal
      - name: Build examples/teensy4 - blink
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path examples/teensy4/Cargo.toml --target thumbv7em-none-eabihf --bin blink
      - name: Build examples/teensy4 - rtic-blink
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path examples/teensy4/Cargo.toml --target thumbv7em-none-eabihf --features imxrt-ral/rtic --bin rtic-blink

  check-imxrtral:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install virtualenv
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install Python dependencies
      run: pip install -U -r requirements.txt
    - name: Run Python doctests in imxrtral.py
      run: python -m doctest -v imxrtral.py
